button
{
    background-color:rgb(3, 3, 245);
    color: rgb(245, 238, 238); 
    border-radius: 6px;
    

}
.header {
    border: 1px solid  rgb(188, 233, 122);
    background-color:rgb(220, 217, 235);
    color:rgb(20, 16, 16);
    text-align:center;
    padding:3px; 
    font-size: 20px;           
}


input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

#register
{
    position: relative;
    top: -20px;
    left:60px;
    border-radius: 6px;

}
  
body{
    background-color:rgb(238, 175, 186);
}


h3{
    color :rgb(24, 24, 245);
    text-align: center;
}
table, th, td {
    border: 1px solid rgb(5, 5, 5);
  }
  
  table, th,td {
   color:rgb(10, 10, 235);
  }
  
  table thead tr td {
   color:rgb(20, 14, 14);
  }
        


