button
{
    background-color:rgb(10, 10, 245);
    color: rgb(245, 229, 229); 
    border-radius: 6px;
    

}

.header {
    border: 1px solid  rgb(188, 233, 122);
    background-color:rgb(220, 217, 235);
    color:rgb(20, 16, 16);
    text-align:center;
    padding:3px; 
    font-size: 20px;           
}


input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}
#register
{
    
    position: relative;
    top: -20px;
    left:60px;
    border-radius: 6px;

}
  
body{
    background-color: rgb(104, 12, 69);
}

h3{
    color :rgb(243, 230, 230);
    text-align: center;
}

        


